<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" ng-app="CMS">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pr2lsite/css/styleSite.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pr2lsite/css/template.css') }}" />
	
	<script type="text/javascript" src="{{ asset('bundles/pr2lsite/js/angular.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/pr2lsite/js/app.js') }}"></script>
    
    <title>{% block title %}PR2L{% endblock %}</title>
  </head>
  
  <header>
  	<div class="eltEntete"><a href="">	<img src="{{ asset('bundles/pr2lsite/images/logo.png') }}" alt="Logo PR2L" title="Logo association PR2L" />	</a></div>
	<div class="eltEntete">
		<strong></bold><em>P</em>ôle international de <br />
		<em>R</em>essources de <br />
		<em>L</em>imoges et du<br />
		<em>L</em>imousin<br />
		<br />
	</div>
  </header>
  
  <aside>
  </aside>
  
  <nav>	
<hr/>

<div><nav>

<ul id="menu-deroulant">
    {{ render(controller("PR2LSiteBundle:Menu:menu")) }}
</ul>
	
</nav></div>
<hr/>
  </nav>

{% if is_granted('ROLE_ADMIN') %}
<div><nav>
<ul id="menu-deroulant">
    <li><a href="{{ path('pr2_l_site_creation') }}">Création d'utilisateur</a></li>
    <li><a href="{{ path('pr2_l_site_gestionAdmin') }}">Gestion administrateur</a></li> 
    <li><a href="{{ path('pr2_l_site_modification') }}">Modification d'informations</a></li> 
</ul>
</nav></div>
{% endif %}

{% if is_granted('ROLE_USER') %}
<div class="bouton">
  <p>
    <a href="{{ path('logout') }}">Déconnexion</a>
 </p>
</div>
{% else %}
<div class="bouton">
  <p>
   <a href="{{ path('login') }}">Connexion</a>
 </p>
</div>
{% endif %}
  
  <body>

    {% block body %}
     
    {% endblock %}

  </body>
  
  <footer style='text-align:center;'>
      <img src="{{ asset('bundles/pr2lsite/images/Logo_Fondation_Credit_Coop.png') }}" alt="Logo Fondation Credit Coopration" title="Logo Fondation Credit Coopration" />
      <img src="{{ asset('bundles/pr2lsite/images/Logo_Haute_Vienne.png') }}" alt="Logo Haute-Vienne" title="Logo Haute-Vienne" />
      <img src="{{ asset('bundles/pr2lsite/images/Logo_region_limousin.png') }}" alt="Logo Limousin" title="Logo Limousin" />
      <img src="{{ asset('bundles/pr2lsite/images/Logo_creuse.png') }}" alt="Logo Creuse" title="Logo Creuse" />
  </footer>
</html>

















