{% extends "::base.html.twig" %} 

{% block title %}
Lister les utilisateurs - {{ parent() }} 
{% endblock %} 

{% block body %}
<table border='solid'>
	<tr>
		<th>Num&eacute;ro</th>
		<th>Nom</th>
		<th>Pr&eacute;nom</th>
		<th>Num&eacute;ro de t&eacute;l&eacute;phone</th>
		<th>Adresse email</th>
		<th>Fonction</th>
		<th>Login</th>
		<th>Mot de passe</th>
		<th>Editer</th>
		<th>Supprimer</th>
	</tr>
	{% for user in profils %}
		<tr>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.id  }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.userNom }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.userPrenom }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.userTelephone }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.userEmail }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.userFonction }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> {{ user.userLogin }} </a> </td>
			<td> <a href='{{ path('pr2l_user_view_single', {'id': user.id}) }}'> ********* </a> </td>
			<td> <a href='{{ path('pr2l_user_edit', {'id': user.id}) }}'> <input type='button' value=''/> </a> </td>
			<td> <a href='{{ path('pr2l_user_remove', {'id': user.id}) }}'> <input type='button' value=''/> </a> </td>
		</tr>
	{% else %}
		<tr>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
		</tr>
	{% endfor %}
		
</table>
{% endblock %}