{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter{% endblock %}

{% block body %}

    <nav id="menuArchive">
        <ul>
            <li><a href="">Consulter</a></li>
            <li><a href="">Recherche Avancée</a></li>
            <li><a href="">Ajouter une archive</a></li>
        </ul>
    </nav>

     {% for flashMessage in app.session.flashbag.get('phrase') %}
        <div class="flashBag">
            <br>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table>
        <tr><th>Ajout d'une nouvelle archive</th></tr>
        <tr><td>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }} 
            <h4>Le fond d'archive</h4>
            <div class="form-group">
                {{ form_label(form.nomFond, "Nom du fond d'archive") }}
                {{ form_widget(form.nomFond) }}
            </div>
            <div class="form-group">
                {{ form_label(form.depFond, "Département du fond d'archive") }}
                {{ form_widget(form.depFond) }}
            </div>
            <div class="form-group">
                {{ form_label(form.villeFond, "Ville du fond d'archive") }}
                {{ form_widget(form.villeFond) }}
            </div>
            <div class="form-group">
                {{ form_label(form.adrFond, "Adresse complète du fond d'archive") }}
                {{ form_widget(form.adrFond) }}
            </div>
            <div class="form-group">
                {{ form_label(form.histFond, "Historique du fond d'archive") }}
                {{ form_widget(form.histFond) }}
            </div>
        </td></tr>
        <tr><td>
            <h4>L'archive</h4>
            <div class="form-group">
                {{ form_label(form.titreArchive, "Titre de l'archive") }}
                {{ form_widget(form.titreArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.resArchive, "Résumé de l'archive") }}
                {{ form_widget(form.resArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.grEntrArchive, "Grandes entrées") }}
                {{ form_widget(form.grEntrArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.obsArchive, "Observations") }}
                {{ form_widget(form.obsArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.coteArchive, "Côte de l'archive") }}
                {{ form_widget(form.coteArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.classArchive, "Classification de l'archive") }}
                {{ form_widget(form.classArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.typeArchive, "Type de l'archive") }}
                {{ form_widget(form.typeArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.ancPubArchive, "Date de la publication la plus ancienne de l'archive") }}
                {{ form_widget(form.ancPubArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.recPubArchive, "Date de la publication la plus récente de l'archive") }}
                {{ form_widget(form.recPubArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.metArchive, "Métrique de l'archive") }}
                {{ form_widget(form.metArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.numArchive, "Numérisation de l'archive de l'archive") }}
                {{ form_widget(form.numArchive) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateRentrArchive, "Numérisation de l'archive de l'archive") }}
                {{ form_widget(form.dateRentrArchive) }}
            </div>
        </td></tr>
    </table>

{% endblock %}