{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter{% endblock %}

{% block body %}

<nav>
    <ul id="menuArchive">
        <li><a href=" {{ path('pr2_l_archives_archives') }}">Consulter</a></li>
        <li><a href=" {{ path('pr2_l_archives_rechercheAvancee') }}">Recherche Avancée</a></li>
        <li><a href=" {{ path('pr2_l_archives_ajouter') }}">Ajouter une archive</a></li>
        <li><a href="">Modifier une archive</a></li>
    </ul>
</nav>
     {% for flashMessage in app.session.flashbag.get('phrase') %}
        <div class="flashBag">
            <br>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table>
        <tr><th>Ajout d'une nouvelle archive</th></tr>
        <tr><td>
            <form method="post" action="#" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input type="submit"/>
            </form>
            </td></tr>
    </table>


{% endblock %}