{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
<nav>
    <ul id="menuArchive">
        <li><a href=" {{ listeMenu[0] }}">Consulter</a></li>
        <li><a href=" {{ listeMenu[1] }}">Recherche Avancée</a></li>
        <li><a href=" {{ listeMenu[2] }}">Ajouter une archive</a></li>
        <li><a href="">Modifier une archive</a></li>
    </ul>
</nav>

    <table>
        <tr><th>Côte de l'archive</th><th>Titre Archive</th><th>Nom du fond d'archive</th><th>Resumé de l'archive</th><th>Classification de l'archive</th><th></th></tr>
        {% for advert in listAdverts %}
        <tr><td>{{ advert.getCoteArchive() }}</td>
            <td>{{ advert.getTitreArchive() }}</td>
            <td>{{ advert.getNomFond() }}</td>
            <td>{{ advert.getResArchive() }}</td>
            <td>{{ advert.getClassArchive() }}</td>
            <td><a href="{{ listeMenu[3] }}/{{ advert.getId() }}">Plus d'informations</a></td></tr>
        {% endfor %}
    </table>

   
    
{% endblock %}
