{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - RechercheAvancée{% endblock %}

{% block body %}
<nav>
    <ul id="menuArchive">
        <li><a href=" {{ path('pr2_l_archives_rechercheAvancee') }}">Recherche</a></li>
        <li><a href=" {{ path('pr2_l_archives_archives') }}">Liste des archives</a></li>
        {% if is_granted('ROLE_R/W') %}
        <li><a href=" {{ path('pr2_l_archives_ajouter') }}">Ajouter une archive</a></li>
        <li><a href=" {{ path('pr2_l_archives_modifier') }}">Modifier une archive</a></li>
        {% endif %}
    </ul>
</nav>

<h4>Modifier une archive</h4>

<table>
        <tr><th>Cote de l'archive</th><th>Titre Archive</th><th>Auteur</th></tr>
        {% for advert in listAdverts %}
        <tr><td>{{ advert.getCote() }}</td>
            <td>{{ advert.getTitreArchive() }}</td>
            <td>{{ advert.getDetenteurArchive() }}</td>
            <td><a href="{{ path('pr2_l_archives_tag',{'id':advert.getId()}) }}">Ajouter un mot clé</a></td></tr>
        {% endfor %}
</table>
{% endblock %}