{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Validation{% endblock %}

{% block body %}

<nav>
    <ul id="menuArchive">
        <li><a href=" {{ path('pr2_l_archives_rechercheAvancee') }}">Recherche</a></li>
        <li><a href=" {{ path('pr2_l_archives_archives') }}">Liste des archives</a></li>
        {% if is_granted('ROLE_R/W') %} <li><a href=" {{ path('pr2_l_archives_ajouter') }}">Ajouter une archive</a></li> {% endif %}
        {% if is_granted('ROLE_R/W') %}<li><a href=" {{ path('pr2_l_archives_modifier') }}">Modifier une archive</a></li> {% endif %}
        {% if is_granted('ROLE_VAL') %}<li><a href=" {{ path('pr2_l_archives_validation') }}">Validation d'une archive</a></li> {% endif %}
    </ul>
</nav>

<h4>Validation d'un article</h4>

<table>
        <tr><th>Cote de l'archive</th><th>Titre Archive</th><th>Nom du fond d'archive</th><th>Resumé de l'archive</th><th>Classification de l'archive</th><th></th></tr>
        {% for advert in listAdverts %}
        <tr><td>{{ advert.getCote() }}</td>
            <td>{{ advert.getTitreArchive() }}</td>
            <td>{{ advert.getNomDuFond() }}</td>
            <td>{{ advert.getResume() }}</td>
            <td>{{ advert.getClassification() }}</td>
            <td><a href="{{ path('pr2_l_archives_valider',{'id':advert.getId()}) }}">Plus d'informations</a></td></tr>
        {% endfor %}
    </table>

{% endblock %}