{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Fondateurs{% endblock %}

{% block body %}

{% for article in listeArticles %}
<div class="{{ article.template }}">
    {% if article.template == "banniereEtCarousel" %}
    <div class="redim_img_banniere"> 
        <a href="{{ article.imageBanniere }}" title="Image">
            <img class="redim_img_banniere_img" src="{{ article.imageBanniere }}" alt="{{ article.imageBanniere }}" />
        </a>   
    </div>
    {% endif %}
    {% if article.template == "imageCoin" %}
    <div id="image"> 
        <a href="{{ article.imageCoin }}" title="Image">
            <img src="{{ article.imageCoin }}" alt="{{ article.imageCoin }}" />
        </a>
    </div>
    {% endif %}
    <h1>{{article.titre}}</h1>
    <p>{{article.auteur}}</p>
    <p>{{article.date|date('d-m-Y H:i:s')}}</p>
    <p>{{article.texte}}</p>
    {% if article.template == "banniereEtCarousel" %}
    <div class="images-box">
        <!--<ul id="thumbs">
            <li><a href="1.jpg"><img alt="1.jpg" src="1.jpg" /></a></li>
            <li><a href="2.jpg"><img alt="2.jpg" src="2.jpg" /></a></li>
            <li><a href="3.jpg"><img alt="3.jpg" src="3.jpg" /></a></li>
            <li><a href="4.jpg"><img alt="4.jpg" src="4.jpg" /></a></li>
            <li><a href="5.jpg"><img alt="5.jpg" src="5.jpg" /></a></li>
        </ul>-->
    </div>
    {% endif %}

</div>
{% endfor %}

{% endblock %}