{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Fondateurs{% endblock %}

{% block body %}

{% for article in listeArticles %}
<div class="styleDoc">
<div class="{{ article.template }}">
    {% for image in article.images %}
    {% if image.rendu == "imgBanniere" %}
    <div class="redim_img_banniere">
        <a title="{{image.name}}">
        <img class="redim_img_banniere_img" id="imhaut" name="imhaut" src="{{ asset('bundles/pr2lsite/images/images_articles/') }}{{image.path}}" alt="{{image.name}}"/>
        </a> 
    </div>
    {% endif %}
    {% endfor %}
    
    {% for image in article.images %}
    {% if image.rendu == "imgCoin" %}
    <div class="coin"> 
        <a title="{{image.name}}">
           <img src="{{ asset('bundles/pr2lsite/images/images_articles/') }}{{image.path}}" alt="{{image.name}}"/>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    <h2>{{article.titre}}</h2>
    <h6>Par {{article.auteur}}</h6>
    <h6>Le {{article.jourHeure|date('d/m/Y à H:i:s')}}</h6>
    <p>{{article.texte}}</p>
    {% if article.template == "banniereEtCarousel" %}
    <div class="images-box">
        <ul id="thumbs">
            {% for image in article.images %}
            {% if image.rendu == "imgCarrousel" %}
            <li>
                <a title="{{image.name}}">
                <img src="{{ asset('bundles/pr2lsite/images/images_articles/') }}{{image.path}}" alt="{{image.name}}"/>
                </a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
<hr style="clear:both;visibility:hidden;"> 
</div>
</div>


{% endfor %}

{% endblock %}