{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block body %}

    <table>
        <tr><th>Nom</th><th>Prénom</th><th>Identifiant</th><th>Droits</th></tr>
        {% for advert in listAdverts %}
        <tr>
            <td>{{ advert.getNom() }}</td>
            <td>{{ advert.getPrenom() }}</td>
            <td>{{ advert.getUsername() }}</td>
            {% if advert.getRoles() == 'ROLE_USER' %}
                <td>Utilisateur</td>
            {% elseif advert.getRoles() == 'ROLE_ADMIN' %}
                <td>Administrateur</td>
            {% elseif advert.getRoles() == 'ROLE_R' %}
                <td>Lecteur</td>
            {% elseif advert.getRoles() == 'ROLE_R/W' %}
                <td>Contributeur</td>
            {% elseif advert.getRoles() == 'ROLE_VAL' %}
                <td>Validateur</td>
            {% else %}
                <td>Anonyme</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <div class="formulaire">
        <form method="post" action="#" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="Valider" id="boutonform">
        </form>
    </div>

 {% for flashMessage in app.session.flashbag.get('phrase') %}
    <div>
        <br>
        {{ flashMessage }}
    </div>
    {% endfor %}
{% endblock %}
