{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Revue de Presse{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('phrase') %}
<div class="flashBag">
    <br>
    {{ flashMessage }}
</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_errors(form) }}
<table>
    <tr>
        <th colspan="2">Ajout d'un nouveau document</th>
    </tr>
    <tr>
        <td>
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
        </td>
        <td>
            {{ form_widget(form.type) }}
        </td>
    </tr>
    <tr onchange="showImages()">
        <td>
            {{ form_label(form.template) }}
            {{ form_errors(form.template) }}
        </td>
        <td>
            {{ form_widget(form.template, {'id': 'template'}) }}
        </td>
    </tr>
     <tr>
        <td>
            {{ form_label(form.titre) }}
            {{ form_errors(form.titre) }}
        </td>
        <td>
            {{ form_widget(form.titre) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
        </td>
        <td>
            {{ form_widget(form.date) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.texte) }}
            {{ form_errors(form.texte) }}
        </td>
        <td>
            {{ form_widget(form.texte) }}
        </td>
    </tr>
    <tr id="imageBanniere">
        <td>
            {{ form_label(form.imageBanniere) }}
            {{ form_errors(form.imageBanniere) }}
        </td>
        <td>
            {{ form_widget(form.imageBanniere, {'id': 'banniere'}) }}
        </td>
    </tr>
    <tr id="imageCoin">
        <td>
            {{ form_label(form.imageCoin) }}
            {{ form_errors(form.imageCoin) }}
        </td>
        <td>
            {{ form_widget(form.imageCoin, {'id': 'coin'}) }}
        </td>
    </tr>
    <tr id="imagesCarousel">
        <td>
            {{ form_label(form.imagesCarousel) }}
            {{ form_errors(form.imagesCarousel) }}
        </td>
        <td>
            {{ form_widget(form.imagesCarousel, {'id': 'carousel'}) }}
        </td>
    </tr>
    
    <tr>
        <td colspan="2" style="text-align:center;">
            {{ form_end(form) }}
        </td>
    </tr>
</table>

<script>
    window.onload = showImages();
    
    function showImages(){
        var opt = document.getElementById("template");
        var valueOpt = opt.options[opt.selectedIndex].value;
        ic = document.getElementById("imageCoin");
        isc = document.getElementById("imagesCarousel");
        ib = document.getElementById("imageBanniere");
        c = document.getElementById("coin");
        sc = document.getElementById("carousel");
        b = document.getElementById("banniere");
        if (valueOpt == "banniereSeule") {
            c.value = '';
            sc.value = '';
            b.value = '';
            ic.style.display = 'none';
            isc.style.display = 'none';
            ib.style.display = '';
        }
        if (valueOpt == "imageCoin") {
            c.value = '';
            sc.value = '';
            b.value = '';
            ic.style.display = '';
            isc.style.display = 'none';
            ib.style.display = 'none';
        }
        if (valueOpt == "banniereEtCarousel") {
            c.value = '';
            sc.value = '';
            b.value = '';
            ic.style.display = '';
            isc.style.display = 'none';
            ib.style.display = '';
        }
    }
</script>

{% endblock %}