{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Revue de Presse{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('phrase') %}
<div class="flashBag">
    <br>
    {{ flashMessage }}
</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_errors(form) }}
<table>
    <tr>
        <th colspan="2">Ajout d'un nouveau document</th>
    </tr>
    <tr>
        <td>
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
        </td>
        <td>
            {{ form_widget(form.type) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.template) }}
            {{ form_errors(form.template) }}
        </td>
        <td>
            {{ form_widget(form.template) }}
        </td>
    </tr>
     <tr>
        <td>
            {{ form_label(form.titre) }}
            {{ form_errors(form.titre) }}
        </td>
        <td>
            {{ form_widget(form.titre) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
        </td>
        <td>
            {{ form_widget(form.date) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.texte) }}
            {{ form_errors(form.texte) }}
        </td>
        <td>
            {{ form_widget(form.texte) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.imageBanniere) }}
            {{ form_errors(form.imageBanniere) }}
        </td>
        <td>
            {{ form_widget(form.imageBanniere) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.imageCoin) }}
            {{ form_errors(form.imageCoin) }}
        </td>
        <td>
            {{ form_widget(form.imageCoin) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.imagesCarousel) }}
            {{ form_errors(form.imagesCarousel) }}
        </td>
        <td>
            {{ form_widget(form.imagesCarousel) }}
        </td>
    </tr>
    
    <tr>
        <td colspan="2" style="text-align:center;">
            {{ form_end(form) }}
        </td>
    </tr>
</table>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var $container = $('div#pr2l_sitebundle_document_elements');

    var $addLink = $('<a href="#" id="add_element" class="plus_moins">+</a>');
    $container.append($addLink);

    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault();
      return false;
    });

    var index = $container.find(':input').length;

    if (index == 0) {
      addCategory($container);
    } else {
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '-----------------------------------------------')
          .replace(/__name__/g, index));

      addDeleteLink($prototype);

      $container.append($prototype);

      index++;
    }

    function addDeleteLink($prototype) {
      $deleteLink = $('<a href="#" class="plus_moins">-</a>');

      $prototype.append($deleteLink);

      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault();
        return false;
      });
    }
  });
</script>-->

{% endblock %}